body{
	margin: 0px;
}

header{
	background-color: #f2eadb;
}

#code, #motto{
	font-family: "Times New Roman", Times, serif;
}

#code{
	text-align: right;
	font-size: 1em;
	margin: 0px;
}

#motto{
	text-align: center;
	font-size: 3em;
	color: #555555;
	background-color: #f2eadb;
}

.topnav{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #857a62;
	text-align: center;
	padding: 0px;
	margin: 0px;
}

.topnav a{
	text-decoration: none;
	color: inherit;
}

.topnav li{
	display: inline-block;
	text-decoration: none;
	color: #2c2921;
	padding: 14px 16px;
	list-style: none;	
}

/* styling of the items in the top navigation menu
 * when the mouse hovers over the items */
.topnav li:hover{
	background-color: #ddd;
	color: #aaa;
}

.main{
	display: grid;
	grid-template-columns: 15% 85%;
	font-family: arial, helvetica, sans-serif;
}

.sidebar, .content{
	padding: 10px;
}

.sidebar{
	background-color: #e5d5b6;
}

/* to remove the bullet points of the items in the sidebar */
.sidebar li{
	list-style: none;
}

/* to apply a background image to <div class=content> */
.content {
	background-image: url("wood.png");
	background-size: cover;
}

footer{
	background-color: #595142;
	text-align: center;
	color: #ffffff;
	padding: 15px 0px 15px 0px; 
}


@media only screen and (min-width: 375px){
}


@media only screen and (min-width:768px){

}
